html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
}

.mat-icon {
  font-size: 1.5em;
  height: 1.5em;
  width: 1.5em;
}

.white-icon {
  color: white;
}
